{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block main %}

    <div class="page_form_profil row col-sm-12 col-lg-10 p-3">
    {#{{ include('participant/_form.html.twig', {'button_label': 'Update'}) }} #}

    {# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
        <div class="col-12 text-center mb-3">
            <h1>Mon Profil</h1>
        </div>
        <div class="col-sm-12 col-lg-4 text-center">
            <img class="imageProfil" src="{{ asset('uploads/imagesProfil/' ~ participant.imageProfil) }}" alt="photo de {{ participant.pseudo }}">
        </div>
        <div class="col-sm-12 col-lg-8">
            {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="row mt-3">
                <div class="col-12">
                    <button class="btn btn-outline-dark" type="submit">Enregistrer</button>
                    <a href="{{ path('main_home') }}">
                        <input type="button" class="btn btn-outline-dark" value="Annuler">
                    </a>
                </div>
            </div>

            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}
