{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block main %}

    <div class="page_form_profil row col-sm-12 col-lg-10 p-3">
        {#{{ include('participant/_form.html.twig', {'button_label': 'Update'}) }} #}

        {# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}
        <div class="col-12 text-center mb-4">
            <h1>{{ participant.pseudo }}</h1>
        </div>
        <div class="col-sm-12 col-lg-4 text-center">
            <img class="imageProfil" src="{{ asset('uploads/imagesProfil/' ~ participant.imageProfil) }}" alt="photo de {{ participant.pseudo }}">
        </div>
        <div class="col-sm-12 col-lg-8">

            <table class="table">
                <tr>
                    <th>Prenom</th>
                    <td>{{ participant.prenom }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ participant.nom }}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>{{ participant.telephone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ participant.email }}</td>
                </tr>
                <tr>
                    <th>Campus</th>
                    <td>{{ participant.campus.nom }}</td>
                </tr>
            </table>

        </div>

        <div class="row mt-3 col-12 text-center">
            <a href="{{ path('main_home') }}">
                <button class="btn btn-outline-dark">Retour</button>
            </a>
        </div>

        </div>

    </div>

{% endblock %}
