{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block main %}
<div class="container">
    <div class="col align-self-end">
        <span><strong>Date du jour : {{ "now"|date("d/m/Y") }}</strong></span>
        <span><strong>Participant : {{ app.user.prenom }} {{ app.user.nom|first }}.</strong></span>
    </div>
    <div class="row">


        <div class="row col-12 mb-4">

                {{  form_start(form) }}
                <div class="col">
                    <div>{{ form_row(form.campus) }}</div>
                    <div>{{ form_row(form.mot) }}{{ form_row(form.dateMin) }}</div>
                    <div>{{ form_row(form.dateMax) }}</div>
                </div>
                <div class="col">
                    <div>{{ form_row(form.organisee) }}</div>
                    <div>{{ form_row(form.inscrit) }}</div>
                    <div>{{ form_row(form.nonInscrit) }}</div>
                    <div>{{ form_row(form.passee) }}</div>
                </div>
                <div class="col">
                    <div><button type="submit" class="btn btn-outline-dark">{{ button_label|default('Rechercher') }}</button></div>
                    {{ form_end(form) }}
                </div>

        </div>


    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisteur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            {% if sortie.etat.id != 7 %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{% if app.user in sortie.participants %}
                        X
                    {% endif %}</td>
                <td>
                    <a href="{{ path('participant_show', {'id': sortie.organisateur.id}) }}"> {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|first }}. </a>
                </td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    {% if (app.user in sortie.participants) and "now"|date("Y-m-d") < sortie.dateLimiteInscription|date("Y-m-d")  %}
                        <a href="{{ path('sortie_show', {'id': sortie.id, 'action': 1}) }}">Se désister</a>
                    {% endif %}
                    {% if not (app.user in sortie.participants) and "now"|date("Y-m-d") < sortie.dateLimiteInscription|date("Y-m-d")  and sortie.organisateur.id != app.user.id %}
                        <a href="{{ path('sortie_show', {'id': sortie.id, 'action': 2}) }}">S'inscrire</a>
                    {% endif %}
                    {% if sortie.etat.id == 1 and sortie.organisateur.id == app.user.id %}
                        <a href="{{ path('sortie_edit', {'id': sortie.id }) }}">Modifier</a> -
                        <a href="{{ path('sortie_show', {'id': sortie.id, 'action': 3 }) }}">Publier</a>
                    {% endif %}
                    {% if sortie.etat.id == 2
                        and "now"|date("Y-m-d") < sortie.dateLimiteInscription|date("Y-m-d")
                        and (sortie.organisateur.id == app.user.id or app.user.administrateur) %}
                        <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}">Annuler</a>
                    {% endif %}

                    </td>
                </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="8">Il n'y a aucun résultat pour votre recherche</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('sortie_new') }}">Créer une sortie</a>
    </div>
</div>
{% endblock %}
