 {% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block main %}

 {{ form_start(form) }}
{{ form_errors(form) }}
 <div class="row col-sm-12 col-lg-10 p-2">
     <div class="col-12 text-center mb-4">
         <h1>Créer une sortie</h1>
     </div>
     <div class="row col-12 mb-4">
         <div class="col-sm-12 col-lg-6 tableau_sortie px-3">
             <div class="row col-12 mb-2">
                 <div class="col-sm-12 col-lg-5 libelle">Nom de la sortie :</div>
                 <div class="col-sm-12 col-lg-7">{{ form_widget(form.nom) }}</div>
                 <div>{{ form_errors(form.nom) }}</div>
             </div>
             <div class="row col-12 mb-2">
                 <div class="col-sm-12 col-lg-5 libelle">Date et heure de la sortie :</div>
                 <div class="col-sm-12 col-lg-7">{{ form_widget(form.dateHeureDebut) }}</div>
                 <div>{{ form_errors(form.dateHeureDebut) }}</div>
             </div>
             <div class="row col-12 mb-2">
                 <div class="col-sm-12 col-lg-5 libelle">Date limite d'inscription :</div>
                 <div class="col-sm-12 col-lg-7">{{ form_widget(form.dateLimiteInscription) }}</div>
                 <div>{{ form_errors(form.dateLimiteInscription) }}</div>
             </div>
             <div class="row col-12 mb-2">
                 <div class="col-sm-12 col-lg-5 libelle">Nombre de places :</div>
                 <div class="col-sm-12 col-lg-4"> {{ form_widget(form.nbInscriptionsMax) }}</div>
                 <div>{{ form_errors(form.nbInscriptionsMax) }}</div>
             </div>
             <div class="row col-12 mb-2">
                 <div class="col-sm-12 col-lg-5 libelle">Durée :</div>
                 <div class="col-sm-12 col-lg-2">{{ form_widget(form.duree) }}</div>
                 <div class="col-sm-12 col-lg-5"> minutes</div>
                 <div>{{ form_errors(form.duree) }}</div>
             </div>
             <div class="row col-12 mb-2">
                 <div class="col-sm-12 col-lg-5 libelle">Description et infos :</div>
                 <div class="col-sm-12 col-lg-7">{{ form_widget(form.infosSortie) }}</div>
             </div>
         </div>
                 <div class="col-sm-12 col-lg-6 tableau_sortie px-3">
                     <div class="row col-12 mb-2">
                         <div class="col-sm-12 col-lg-5 libelle">Campus :</div>
                         <div class="col-sm-12 col-lg-7">{{ form_widget(form.campus) }}</div>
                     </div>
                     <div class="row col-12 mb-2">
                         <div class="col-sm-12 col-lg-5 libelle">Ville :</div>
                         <div class="col-sm-12 col-lg-7">{{ form_widget(form.ville) }}</div>
                     </div>
                     <div class="row col-12 mb-2">
                         <div class="col-sm-12 col-lg-5 libelle">Lieu :</div>
                         <div class="col-sm-12 col-lg-7 row">
                             <div class="col-sm-12 col-lg-10">{{ form_widget(form.lieu) }}</div>
                             <div class="col-sm-12 col-lg-2">
                                 <button type="button" class="btn btn-outline-dark" id="btnPlus">➕</button>
                             </div>
                         </div>
                         <div>{{ form_errors(form.lieu) }}</div>
                     </div>
                     <div id="nouveauLieu" style="border: 1px solid grey; display: none ">
                         {{ form_label(form.nouveauLieu.nom) }}
                         {{ form_widget(form.nouveauLieu.nom) }}
                         {{ form_label(form.nouveauLieu.rue) }}
                         {{ form_widget(form.nouveauLieu.rue) }}
                         {{ form_label(form.nouveauLieu.latitude) }}
                         {{ form_widget(form.nouveauLieu.latitude, {'attr': {'id': 'sortie_lieu_latitude'}}) }}
                         {{ form_label(form.nouveauLieu.longitude) }}
                         {{ form_widget(form.nouveauLieu.longitude, {'attr': {'id': 'sortie_lieu_longitude'}}) }}
                         <div id="map" style="width: 100%; height: 20%;"></div>
                     </div>
                     <div id="ancienLieu" style="display: block">
                         <div class="row col-12 mb-2">
                             <div class="col-sm-12 col-lg-5 libelle">Rue :</div>
                             <div class="col-sm-12 col-lg-7">{{ form_widget(form.rue) }}</div>
                         </div>
                         <div class="row col-12 mb-2">
                             <div class="col-sm-12 col-lg-5 libelle">Code postal :</div>
                             <div class="col-sm-12 col-lg-7">{{ form_widget(form.codePostal) }}</div>
                         </div>
                         <div class="row col-12 mb-2">
                             <div class="col-sm-12 col-lg-5 libelle">Latitude :</div>
                             <div class="col-sm-12 col-lg-7">{{ form_widget(form.latitude) }}</div>
                         </div>
                         <div class="row col-12 mb-2">
                             <div class="col-sm-12 col-lg-5 libelle">Longitude :</div>
                             <div class="col-sm-12 col-lg-7">{{ form_widget(form.longitude) }}</div>
                         </div>
                     </div>
                 </div>
             </div>

     <div class="row mt-3">
         <div class="col-12 d-flex justify-content-center">
             <button class="btn btn-outline-dark me-3" type="submit">Enregistrer</button>
             <a href="{{ path('sortie_index') }}">
                 <input type="button" class="btn btn-outline-dark me-3" value="Publier la sortie">
             </a>
             <a href="{{ path('main_home') }}">
                 <input type="button" class="btn btn-outline-dark" value="Annuler">
             </a>
         </div>
     </div>

</div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const url="{{ app_url_api_lieux }}";
    </script>
    <script src="{{ asset('js/Lieux.js') }}"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <script type="application/javascript">


        let marker;

        window.addEventListener("DOMContentLoaded", function () {
            mapboxgl.accessToken = 'pk.eyJ1IjoiYmFsYnV6YXJkIiwiYSI6ImNrcGR2eHBwMTFyc3MybnA3NWpkaGVjZWIifQ.68J9NxbIMvEWHFgRXma62g';
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                zoom: 4.5,
                minZoom: 2,
                center: [2.2, 46.4]
            });

            map.on('click', function(e) {
                document.getElementById('sortie_lieu_longitude').value=e.lngLat.lng;
                document.getElementById('sortie_lieu_latitude').value=e.lngLat.lat;

                if (marker) {
                    marker.remove();
                }
                marker = new mapboxgl.Marker({
                    color: "#FF5555",
                    draggable: true
                }).setLngLat([e.lngLat.lng, e.lngLat.lat])
                    .addTo(map);

            });
            document.getElementById("btnPlus").onclick = function() {
                if (document.getElementById("nouveauLieu").style.display === "none"){
                    document.getElementById("nouveauLieu").style.display = "block";
                    document.getElementById("ancienLieu").style.display = "none";
                } else {
                    document.getElementById("nouveauLieu").style.display = "none";
                    document.getElementById("ancienLieu").style.display = "block";
                }


            }


        })

    </script>
{% endblock %}
